* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Medium Screen (Ipad)*/
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/*small lap Screen*/
@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}
/* big Screen */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
body {
  background-color: #f6f6f6;
}
body font {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .container .navbar li {
  padding: 5px 10px;
}